<section id="todoapp">
    <header id="header" lazo-view="header"></header>
    <section id="main">
        <input id="toggle-all" type="checkbox" {{allChecked}}>
        <label for="toggle-all">Mark all as complete</label>
        <ul id="todo-list" lazo-collection-target="collection"></ul>
    </section>
    <footer id="footer" lazo-view="footer"></footer>
</section>
<footer id="info">
    <p>Double-click to edit a todo</p>
    <p>
        Created by <a href="https://github.com/jstrimpel">Jason Strimpel</a> using
        <a href="https://github.com/lazojs/lazo">Lazo</a>
    </p>
    <p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
</footer>